// {{{ general

*
  box-sizing: border-box

body
  background: #eee
  font-family: 'Quicksand', sans-serif;

ol,
ul
  margin: 0
  padding: 0

.btn
  background: transparent
  border: 0

.btn--is-link
  margin: 0
  padding: 0

section
  padding-left: 10%
  padding-right: 10%

// general }}}
// {{{ loading transition

/*
.is-loading
  #hero-1,
  .hero-0,
  .hero-1,
  .hero-2,
  .hero-3,
  .hero-4,
  .staff,
  #sunday-morning,
  #connect-with-us
    opacity: 0

  .hero-0,
  .hero-1,
  .hero-2,
  .hero-3,
  .hero-4
    transform: translateY(0.5em)

  .staff
    transform: translateX(5em)

.hero-0
  transition: all 1s ease
.hero-1
  transition: all 1s 0.8s ease
.hero-2
  transition: all 1s 1.0s ease
.hero-3
  transition: all 1s 1.2s ease
.hero-4
  transition: all 1s 1.4s ease

#hero-1
  transition: all 1s ease

.staff:nth-child(0n+0)
  transition: all 1s 1.6s ease
.staff:nth-child(0n+1)
  transition: all 1s 1.9s ease
.staff:nth-child(0n+2)
  transition: all 1s 2.2s ease
.staff:nth-child(0n+3)
  transition: all 1s 2.5s ease
.staff:nth-child(0n+4)
  transition: all 1s 2.8s ease
.staff:nth-child(0n+5)
  transition: all 1s 3.1s ease

#sunday-morning,
#connect-with-us
  transition: all 1s 3.5s ease

*/

// loading transition }}}
// {{{ hero
#logo
  fill: #fff
  margin: 0 auto 10%

#hero
  background: #01386b
  color: #fff
  height: 100vh
  overflow: hidden
  padding: 3em 5%
  position: relative
  text-align: center
  z-index: 0

  h1
    font-size: 5em
    margin: 0 auto
    opacity: 0.95
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.333)
    text-transform: uppercase

  img
    position: absolute
    top: -10%
    left: 0
    right: 0
    transition: opacity 1s ease-in
    z-index: -1

  .read-more
    color: #fff
    font-size: 2.5em
    position: absolute
    left: 0
    right: 0
    text-align: center
    bottom: 0.333em


.big-hitters
  list-style: none
  margin: 20% 0 0
  padding: 0

  li
    display: inline-block
    text-align: left
    vertical-align: top
    width: 33.333%

  .icon
    font-size: 2.25em
    float: left
    margin: 0 0.25em 0.25em 0

  span
    color: #b4b4b4
    display: block

  .bh__title
    color: #fff
    font-size: 1.333em

  a,
  button
    color: #fff
    text-decoration: none


// hero }}}
// {{{ staff

#staff
  //background: #FA2E59
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
  padding: 0
  overflow: hidden

.staff
  display: inline-block
  margin: 0
  min-height: 160px
  padding: 15% 0.41666em 0
  position: relative
  overflow: hidden
  vertical-align: top
  width: 25%
  > *
    color: #fff
    display: block
    position: relative
    z-index: 5

  span[hidden]
    display: none

  span
    font-weight: 700

  a
    font-weight: 300
    text-decoration: none

  img
    position: absolute
    margin-left: -10%
    top: 0
    width: 120%
    z-index: 0
    filter: blur(2px)

  &:after
    content: ' '
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 1
    opacity: 0.7
    background: #334635

// staff }}}
// {{{ sunday mornings

#sunday-morning
  // tall enough for the kids bubbles
  height: 39.5em
  position: relative
  overflow: hidden

.sunday-morning-links
  padding-left: 6.5em
  .btn
    margin-right: 0.5em

// sunday mornings }}}
// {{{ series

.series
  padding-left: 6.5em
  padding-right: 10em
  position: relative

.series__img,
.series__img-shadow
  //border: 1px solid #ccc
  border-radius: 100%
  overflow: hidden
  position: absolute
  left: 0
  top: 0
  height: 5em
  width: 5em

.series__img-shadow
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8)
  z-index: 1

.series__img
  img
    margin-left: -40%
    width: 200%

.series__title
  font-size: 2em


// series }}}
// {{{ kids

.kids
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: 10em
  background: #222
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
  color: #fff
  list-style: none

.kids__bubble
  background: #222
  border: 0
  border-radius: 50%
  margin: 1.5em
  padding: 0
  height: 7em
  width: 7em

  img
    max-height: 100%
    max-width: 100%

// kids }}}
// {{{ Connect with us

#connect-with-us
  background: #ddd
  border-top: 3px solid #ccc
  padding-top: 3em
  padding-bottom: 3em
  label,
  input,
  textarea
    display: inline-block
    vertical-align: top

  label
    padding: 0.666em 0.666em 0.666em 0
    width: 20%

  input,
  textarea
    border: 0
    border-bottom: 2px solid #76BCAD
    padding: 0.3333em
    margin-bottom: 0.666em
    width: 80%
    transition: all 0.3s ease-in
    &:focus
      outline: 0
      border-bottom-color: #4A8F80
  button
    background: #FF703F
    border: 0
    border-bottom: 2px solid #E6511E
    color: #fff
    font-size: 1.333em
    padding: 0.5em 1.5em
    margin-left: 20%
    &:hover,
    &:focus
      background: #E6511E
      border-bottom-color: #AE3911

// Connect with us }}}

.kid-modal
  position: fixed
  top: 2.5%
  bottom: 2.5%
  left: 100%
  width: 95%
  z-index: 5
  background: #444
  transition: all 1s ease

.kid-modal--is-active
  left: 2.5%


