// {{{ general

*
  box-sizing: border-box

body
  background: #f4f4f4
  font-family: 'Raleway', 'Quicksand', sans-serif;

ol,
ul
  margin: 0
  padding: 0

.btn
  background: transparent
  border: 0

.btn--is-link
  margin: 0
  padding: 0

#sunday-morning,
#kids,
#connect-with-us
  padding: 1.333em

h2
  margin-top: 0

// general }}}
// {{{ loading transition

/*
.is-loading
  #hero-1,
  .hero-0,
  .hero-1,
  .hero-2,
  .hero-3,
  .hero-4,
  .staff,
  #sunday-morning,
  #connect-with-us
    opacity: 0

  .hero-0,
  .hero-1,
  .hero-2,
  .hero-3,
  .hero-4
    transform: translateY(0.5em)

  .staff
    transform: translateX(5em)

.hero-0
  transition: all 1s ease
.hero-1
  transition: all 1s 0.8s ease
.hero-2
  transition: all 1s 1.0s ease
.hero-3
  transition: all 1s 1.2s ease
.hero-4
  transition: all 1s 1.4s ease

#hero-1
  transition: all 1s ease

.staff:nth-child(0n+0)
  transition: all 1s 1.6s ease
.staff:nth-child(0n+1)
  transition: all 1s 1.9s ease
.staff:nth-child(0n+2)
  transition: all 1s 2.2s ease
.staff:nth-child(0n+3)
  transition: all 1s 2.5s ease
.staff:nth-child(0n+4)
  transition: all 1s 2.8s ease
.staff:nth-child(0n+5)
  transition: all 1s 3.1s ease

#sunday-morning,
#connect-with-us
  transition: all 1s 3.5s ease
*/

// loading transition }}}
// {{{ hero
#logo
  fill: #fff
  margin: 0 auto 10%

#hero
  background: #01386b
  color: #fff
  min-height: 100vh
  overflow: hidden
  padding: 3em 5%
  position: relative
  text-align: center
  z-index: 0

  h1
    font-size: 3em
    margin: 0 auto
    opacity: 0.95
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.333)
    text-transform: uppercase

  img
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    transition: opacity 1s ease-in
    z-index: -1

  .read-more
    color: #fff
    font-size: 1.25em
    position: absolute
    left: 0
    right: 0
    text-align: center
    bottom: 0.333em

.big-hitters
  list-style: none
  margin: 20% 0 0
  padding: 0
  li
    display: block
    text-align: left
    padding: 0.5em 0

  .icon
    font-size: 2.25em
    float: left
    margin: 0 0.25em 0.25em 0

  span
    color: #b4b4b4
    display: block

  .bh__title
    color: #fff
    font-size: 1.333em

  a,
  button
    color: #fff
    text-decoration: none

@media screen and (min-width: 600px)
  .big-hitters
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.7)
    display: flex
    justify-content: space-between
    padding: 0.666em 0.666em 1.5em

    li
      flex: 1
      text-align: center
      vertical-align: top

    a
      display: inline-block
      text-align: left

    span
      color: #137771

// hero }}}
// {{{ sunday mornings

.quote
  color: #202020
  font-family: serif
  font-size: 1.333em
  font-weight: bold
  font-style: italic
  border-left: 4px solid #999
  padding: 0 0 0 0.5em
  &:before,
  &:after
    font-size: 1.5em
    line-height: 0.666
    vertical-align: bottom

.section
  padding: 0.6666em 0
  border-bottom: 1px solid #999
  &:last-of-type
    border-bottom: 0 none

  a
    color: #002759
    text-decoration: none

.section__name,
.kids__name
  color: #555
  display: block
  font-size: 0.916666em
  font-family: serif
  font-style: italic
  font-weight: bold
  margin-bottom: 0.333em

.section__name:after
  content: ':'

@media screen and (min-width: 600px)
  .some-may-call-this-a-belt
    color: #fff
    max-width: 1400px
    padding: 4%

    a
      color: #ccc

  .section__name,
  .kids__name
    color: #eee

  .quote
    color: #fff
    border-left-color: #ddd
    font-size: 2em

  .section
    border-bottom-color: #eee

  #sunday-morning,
  #kids
    background-size: cover
    display: inline-block
    padding: 2em 5%
    vertical-align: top

  .some-may-call-this-a-belt
    display: flex
  #sunday-morning
    flex: 1 2 auto
  #kids
    flex: 1 1 auto

  #sunday-morning
    background: url(../images/sunday.png)
    margin-right: 4%
    width: 60%
  #kids
    background: url(../images/kids.png)
    width: 36%

// sunday mornings }}}
// {{{ staff

#staff
  //background: #FA2E59
  padding: 0
  overflow: hidden

.staff
  display: inline-block
  margin: 0
  min-height: 160px
  padding: 15% 0.41666em 0
  position: relative
  overflow: hidden
  vertical-align: top
  > *
    color: #fff
    display: block
    position: relative
    z-index: 5

  span[hidden]
    display: none

  span
    font-weight: 700

  a
    font-weight: 300
    text-decoration: none

  img
    position: absolute
    margin-left: -10%
    top: 0
    width: 120%
    z-index: 0

@media screen and (max-width: 600px)
  .staff
    padding-top: 30%
    width: 50%

@media screen and (min-width: 600px)
  .staff
    width: 25%

// staff }}}
// {{{ Connect with us

#connect-with-us
  padding-top: 3em
  padding-bottom: 3em
  label,
  input,
  textarea
    display: block
    vertical-align: top

  label
    padding: 0.666em 0.666em 0.666em 0

  input,
  textarea
    border: 0
    border-bottom: 2px solid #76BCAD
    padding: 0.3333em
    margin-bottom: 0.666em
    width: 100%
    transition: all 0.3s ease-in
    &:focus
      outline: 0
      border-bottom-color: #4A8F80
  button
    background: #FF703F
    border: 0
    border-bottom: 2px solid #E6511E
    color: #fff
    font-size: 1.333em
    padding: 0.5em 1.5em
    &:hover,
    &:focus
      background: #E6511E
      border-bottom-color: #AE3911

// Connect with us }}}

