
.section {
  padding: 1.5em;
  background: rgba(157, 90, 75, 0.06);
}

.block {
  display: inline-block;
  margin: 0;
  padding: 30% 0.41666em 1.5em;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1666);
  overflow: hidden;
  vertical-align: top;
}

@media screen and (max-width: 599px) {
  .block {
    min-height: 300px;
    width: 50%;
  }
}

@media screen and (max-width: 349px) {
  .block {
    min-height: 225px;
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .block {
    margin: 0 1.25%;
    width: 22.5%;
  }
}

.content {
  background: rgba(65, 160, 148, 0.6);
  padding: 1em 0 0.5em;
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.bio,
.title,
.name,
.image {
  color: #fff;
  display: block;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 599px) {
  .name,
  .bio,
  .title,
  .image {
    font-size: 0.75em;
  }
}

.image {
  position: absolute;
  margin-left: -4%;
  top: 0;
  width: 108%;
  z-index: 0;
}

@media screen and (max-width: 599px) {
  .image {
    font-size: 0.75em;
  }
}


.name {
  font-size: 1.333em;
  font-weight: 400;
  height: 2em;
  line-height: 1;
}

@media screen and (min-width: 500px) {
  .name {
    font-size: 1.333em;
  }
}

@media screen and (min-width: 1000px) {
  .name {
    font-size: 1.666em;
  }
}

.bio {
  display: none;
  font-size: 0.8125em;
  font-weight: 300;
}

.title {
  font-size: 0.8125em;
}

.bio {
  display: none;
}

