doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title River Church Charlotte
    meta(description='A church in Charlotte amazed by grace, declaring and demonstrating the love of God, the life of faith, and the hope of salvation.')
    link(rel='stylesheet' href='css/main.css')
  body
    section#hero
      h1 Welcome Home
      ul.big-hitters
        li
          img(src='images/location.png')
          span Mallard Creek Rec Center
          span 2530 Johnston-Oehler Road
          span Charlotte NC, 28269
          a(href='http://maps.google.com') View map
        li
          img(src='images/time.png')
          span Sunday Mornings
          span 10:00 am
        li
          img(src='images/worship.png')
          span Deep Water Worship
          a(href='http://www.deepwaterworship.com/') Listen to the OneHope album now
      img(src='images/hero.png')

    section#sunday-morning
      h1 Sunday Morning
      span Jesus Is...

    script(src='js/main.js')

